body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 39px;
}

.nav-tabs {
    background-color: black;
    border: none;
    color: #fff
}

.nav-item .nav-link, .nav-item .nav-link .active {
    color: white;
    border: none;
}

.nav-item .nav-link:hover, .nav-item .nav-link:focus {
    border: none;
    background-color: purple;
    color: white;
    font-weight: bold;
}

#nav-about-tab:hover, #nav-about-tab:focus {
    border: none;
    background-color: rgb(255,255,0,0.75);
}

#nav-projects-tab:hover, #nav-projects-tab:focus {
    border: none;
    background-color: rgba(56, 228, 56, 0.9);
}

#nav-background-tab:hover, #nav-background-tab:focus {
    border: none;
    background-color: rgba(36, 165, 116, 0.9);
}

#nav-hobbies-tab:hover, #nav-hobbies-tab:focus {
    border: none;
    background-color: rgba(84, 114, 160, 0.9);
}


#photo_Nina {
    width: 30%;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}

.section {
    margin: 50px;
    padding: 50px;
}

.section p {
    *color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    display: block;
}

#about {
    overflow:auto;
    background-color:rgb(255,255,0,0.75);
    color: black;
    text-align: justify;
}

#about_text {
    font-family: cursive;
}

#background {
    background-color: rgba(36, 165, 116, 0.9);
    color: black;
    font-family: 'Times New Roman', Times, serif
}

#background li {
    font-size: 20px;
}

#education_list {
    list-style-type: none;

}

#projects {
    background-color: rgba(56, 228, 56, 0.9);
}

#projects img {
    width: 80%;
}

#projects ul {
    display: inline-block;
    list-style-type: none;
}

#projects a {
    color: rgba(84, 114, 160, 0.9)
}

#projects ul li {
    display: inline;
    margin: 5px;
    color:blue;
    font-family: cursive;
    font-size: 15px;
}

.project {
    border: 2px solid rgba(84, 114, 160, 0.9);
    padding: 5px;
    margin: 10px;
    background-image: linear-gradient(rgba(56,228,56,0.9), rgba(36, 165, 116, 0.9));
    text-align: center;
} 

.project p {
    font-size: 20px;
}

#hobbies {
    background-color: rgba(84, 114, 160, 0.9);
}

#hobbies h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.hobby {
    margin: 10px;
    border: 2px dashed cyan;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.hobby h2 {
    margin-bottom: 20px;
}

#hobbies img {
    width: 90%;
}

@media screen and (max-width: 1000px) {
    #photo_Nina {
        width: 50%;
        clear: both;
        display: block;
        margin-left: 25%;
    }
    .section p {
        display: inline-block
    }
}